<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stefan - AI Engineer & Researcher</title>
    <meta name="description" content="Welcome to Stefan's home page. Stefan is a published researcher and recognized AI Engineer. He is a PhD Candidate at University of Belgrade, specializing in Utilization of Artificial Intelligence in Biomedicine.">
    <meta name="keywords" content="Stefan, Home, AI Engineer, Researcher, PhD Candidate, University of Belgrade, Artificial Intelligence, Biomedicine">
    <meta name="author" content="Stefan">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/assets/css/navbar.css">

</head>
<body>

    <section id="navigation">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../static/images/images.png" alt="manse404 brand icon" height="30"> ManSe404</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/mywork">MyWork</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Research
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/publications">Publications</a></li>
                    <li><a class="dropdown-item" href="/projects">Projects</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="https://manse404.github.io/curriculum/curriculum.html" target="_blank" rel="noopener noreferrer">Curriculum</a></li>
                  </ul>
                </li>
              </ul>
                <a class="navbar-brand" href="https://rs.linkedin.com/in/sseman" target="_blank" rel="noopener noreferrer"><img src="../static/images/linkedin.png" height="30"></a>
                <a class="navbar-brand" href="https://www.researchgate.net/profile/Stefan-Seman" target="_blank" rel="noopener noreferrer"><img src="../static/images/researchgate.png" height="30"></a>
                <a class="navbar-brand" href="https://scholar.google.com/citations?hl=en&user=HlXUn7wAAAAJ" target="_blank" rel="noopener noreferrer"><img src="../static/images/gscholar.png" height="30"></a>

            </div>
          </div>
        </nav>
    </section>


    <section id="ss-descr">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="../static/images/picture.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <p class="lead">Stefan is published researcher and recognized AI Engineer. He is currently a PhD Candidate at University of Belgrade, and Senior Software Engineer at Publicis Sapient.</p>
                <p class="lead">Through his education and work experience, he developed unique set of skills that ranges from Software Development to Biomedicine and Data. This sets him in unique position of having high level of specific domain knowledge along with ability to deliver and utilize different types of Software Tools.</p>
                <p class="lead">Stefan is currently pioneering novel imaging methods and deep learning networks in Cardiology</p>

              </div>
            </div>
          </div>
    </section>

        <div class="b-example-divider"></div>

    <section id="publications">
        <div class="album py-5 bg-body-tertiary">
            <div class="container">

              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c"></rect><image xlink:href="../static/images/heart.jpg" width="100%" height="100%" preserveAspectRatio="none"></image>
                    </svg>
                    <div class="card-body">
                      <p class="card-text card-text-truncate">Defining the importance of stress reduction in managing cardiovascular disease - the role of exercise</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn">
                          <a href="https://www.sciencedirect.com/science/article/abs/pii/S0033062022000159?via%3Dihub" type="button" class="btn btn-sm btn-outline-secondary" target="_blank">Article</a>
                        </div>
                        <small class="text-body-secondary">Progress in Cardiovascular Diseases</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c"></rect><image xlink:href="../static/images/covid.jpg" width="100%" height="100%" preserveAspectRatio="none"></image>
                    </svg>
                    <div class="card-body">
                      <p class="card-text  card-text-truncate">Physical activity and exercise as an essential medical strategy for the COVID-19 pandemic and beyond</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn">
                          <a href="https://journals.sagepub.com/doi/10.1177/15353702211028543" type="button" class="btn btn-sm btn-outline-secondary" target="_blank">Article</a>
                        </div>
                        <small class="text-body-secondary">Experimental Biology and Medicine</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c"></rect><image xlink:href="../static/images/a-msh.jpg" width="100%" height="100%" preserveAspectRatio="none"></image>
                    </svg>
                    <div class="card-body">
                      <p class="card-text  card-text-truncate">The alpha-melanocyte stimulating hormone is related to heart rate during exercise recovery</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn">
                          <a href="https://www.cell.com/heliyon/fulltext/S2405-8440(20)32223-4?_returnURL=https%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS2405844020322234%3Fshowall%3Dtrue" type="button" class="btn btn-sm btn-outline-secondary" target="_blank">Article</a>
                        </div>
                        <small class="text-body-secondary">Cell Press: Heliyon</small>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
        </div>
    </section>


    <section id="middle-section" class="gradient-background">

        <div class="px-4 pt-5 text-center border-bottom">
            <h1 class="display-4 fw-bold text-body-emphasis">How can I help you</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4"> Welcome to my website. Nice to meet you.</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">AI Assistant</button>
                <a href="mailto:stefan.seman404@gmail.com" class="btn btn-outline-secondary btn-lg px-4">Contact Me</a>
              </div>
            </div>
            <div class="overflow-hidden" style="max-height: 30vh;">
              <div class="container px-5">
                <img src="../static/images/bioengineering.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
              </div>
            </div>
        </div>

    </section>

    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <span class="text-body-secondary">© 2023 Stefan Seman</span>
        </div>
    </footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">

</script>
</body>
</html>