{% extends "base.html" %}

{% block title %}
Stefan - AI Engineer & Researcher
{% endblock %}

{% block description %}
Welcome to Stefan's home page. Stefan is a published researcher and recognized AI Engineer. He is a PhD Candidate at University of Belgrade, specializing in Utilization of Artificial Intelligence in Biomedicine.
{% endblock %}

{% block keywords %}
Stefan, Home, AI Engineer, Researcher, PhD Candidate, University of Belgrade, Artificial Intelligence, Biomedicine
{% endblock %}

{% block content %}
<!-- Your page content goes here -->


    <section id="ss-descr">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="../static/images/picture.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <p class="lead">Stefan is published researcher and recognized AI Engineer. He is currently a PhD Candidate at University of Belgrade, and Senior Software Engineer at Publicis Sapient.</p>
                <p class="lead">Through his education and work experience, he developed unique set of skills that ranges from Software Development to Biomedicine and Data. This sets him in unique position of having high level of specific domain knowledge along with ability to deliver and utilize different types of Software Tools.</p>
                <p class="lead">Stefan is currently pioneering novel imaging methods and deep learning networks in Cardiology</p>

              </div>
            </div>
          </div>
    </section>

     <div class="b-example-divider"></div>

    {% from "publication_card.html" import publication_card %}

    <section id="publications">
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {{ publication_card("../static/images/heart.jpg", "Defining the importance of stress reduction in managing cardiovascular disease - the role of exercise", "https://www.sciencedirect.com/science/article/abs/pii/S0033062022000159?via%3Dihub", "Progress in Cardiovascular Diseases") }}
                    {{ publication_card("../static/images/covid.jpg", "Physical activity and exercise as an essential medical strategy for the COVID-19 pandemic and beyond", "https://journals.sagepub.com/doi/10.1177/15353702211028543", "Experimental Biology and Medicine") }}
                    {{ publication_card("../static/images/a-msh.jpg", "The alpha-melanocyte stimulating hormone is related to heart rate during exercise recovery", "https://www.cell.com/heliyon/fulltext/S2405-8440(20)32223-4?_returnURL=https%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS2405844020322234%3Fshowall%3Dtrue", "Cell Press: Heliyon") }}
                </div>
            </div>
        </div>
    </section>


{% endblock %}