{% extends "base.html" %}

{% block title %}
Stefan' Work - AI Engineer & Researcher
{% endblock %}

{% block description %}
Explore Stefan's work. Stefan is a published researcher and recognized AI Engineer. He is a PhD Candidate at University of Belgrade, specializing in Utilization of Artificial Intelligence in Biomedicine.
{% endblock %}

{% block keywords %}
Stefan, Work, AI Engineer, Researcher, PhD Candidate, University of Belgrade, Artificial Intelligence, Biomedicine
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="../../../_archive/static/assets/css/mywork.css">
{% endblock %}

{% block content %}

 
    <section id="navigation">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../static/images/images.png" alt="manse404 brand icon" height="30"> ManSe404</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/mywork">MyWork</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Research
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/publications">Publications</a></li>
                    <li><a class="dropdown-item" href="/projects">Projects</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="https://manse404.github.io/curriculum/curriculum.html" target="_blank" rel="noopener noreferrer">Curriculum</a></li>
                  </ul>
                </li>
              </ul>
                <a class="navbar-brand" href="https://rs.linkedin.com/in/sseman" target="_blank" rel="noopener noreferrer"><img src="../static/images/linkedin.png" height="30"></a>
                <a class="navbar-brand" href="https://www.researchgate.net/profile/Stefan-Seman" target="_blank" rel="noopener noreferrer"><img src="../static/images/researchgate.png" height="30"></a>
                <a class="navbar-brand" href="https://scholar.google.com/citations?hl=en&user=HlXUn7wAAAAJ" target="_blank" rel="noopener noreferrer"><img src="../static/images/gscholar.png" height="30"></a>

            </div>
          </div>
        </nav>
    </section>


{% endblock %}
