{% extends "base.html" %}

{% block title %}
Stefan' Work - AI Engineer & Researcher
{% endblock %}

{% block description %}
Explore Stefan's work. Stefan is a published researcher and recognized AI Engineer. He is a PhD Candidate at University of Belgrade, specializing in Utilization of Artificial Intelligence in Biomedicine.
{% endblock %}

{% block keywords %}
Stefan, Work, AI Engineer, Researcher, PhD Candidate, University of Belgrade, Artificial Intelligence, Biomedicine
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="../../../_archive/static/assets/css/mywork.css">
{% endblock %}

{% block content %}


{% endblock %}
