<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/assets/css/navbar.css">

</head>
<body>

        <section id="navigation">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../static/images/images.png" alt="manse404 brand icon" height="30"> ManSe404</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/mywork">MyWork</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Research
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/publications">Publications</a></li>
                    <li><a class="dropdown-item" href="/projects">Projects</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="https://manse404.github.io/curriculum/curriculum.html" target="_blank" rel="noopener noreferrer">Curriculum</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
              </ul>
                <a class="navbar-brand" href="https://rs.linkedin.com/in/sseman" target="_blank" rel="noopener noreferrer"><img src="../static/images/linkedin.png" height="30"></a>
                <a class="navbar-brand" href="https://www.researchgate.net/profile/Stefan-Seman" target="_blank" rel="noopener noreferrer"><img src="../static/images/researchgate.png" height="30"></a>
                <a class="navbar-brand" href="https://scholar.google.com/citations?hl=en&user=HlXUn7wAAAAJ" target="_blank" rel="noopener noreferrer"><img src="../static/images/gscholar.png" height="30"></a>

            </div>
          </div>
        </nav>
    </section>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Publications</h1>
          </div>
        </div>
   </section>

    <section>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">

              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c"></rect><image xlink:href="../static/images/heart.jpg" width="100%" height="100%" preserveAspectRatio="none"></image>
                    </svg>
                    <div class="card-body">
                      <p class="card-text">Defining the importance of stress reduction in managing cardiovascular disease - the role of exercise</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn">
                          <a href="https://www.sciencedirect.com/science/article/abs/pii/S0033062022000159?via%3Dihub" type="button" class="btn btn-sm btn-outline-secondary" target="_blank">Article</a>
                        </div>
                        <small class="text-body-secondary">Progress in Cardiovascular Diseases</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c"></rect><image xlink:href="../static/images/covid.jpg" width="100%" height="100%" preserveAspectRatio="none"></image>
                    </svg>
                    <div class="card-body">
                      <p class="card-text">Physical activity and exercise as an essential medical strategy for the COVID-19 pandemic and beyond</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn">
                          <a href="https://journals.sagepub.com/doi/10.1177/15353702211028543" type="button" class="btn btn-sm btn-outline-secondary" target="_blank">Article</a>
                        </div>
                        <small class="text-body-secondary">Experimental Biology and Medicine</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c"></rect><image xlink:href="../static/images/a-msh.jpg" width="100%" height="100%" preserveAspectRatio="none"></image>
                    </svg>
                    <div class="card-body">
                      <p class="card-text">The alpha-melanocyte stimulating hormone is related to heart rate during exercise recovery</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn">
                          <a href="https://www.cell.com/heliyon/fulltext/S2405-8440(20)32223-4?_returnURL=https%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS2405844020322234%3Fshowall%3Dtrue" type="button" class="btn btn-sm btn-outline-secondary" target="_blank">Article</a>
                        </div>
                        <small class="text-body-secondary">Cell Press: Heliyon</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c"></rect><image xlink:href="../static/images/hormone.png" width="100%" height="100%" preserveAspectRatio="none"></image>
                    </svg>
                    <div class="card-body">
                      <p class="card-text">Alpha-melanocyte-stimulating hormone during exercise recovery has prognostic value for coronary artery disease</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn">
                          <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=HlXUn7wAAAAJ&citation_for_view=HlXUn7wAAAAJ:2osOgNQ5qMEC" type="button" class="btn btn-sm btn-outline-secondary" target="_blank">Article</a>
                        </div>
                        <small class="text-body-secondary">Hormones</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c"></rect><image xlink:href="../static/images/stress.jpg" width="100%" height="100%" preserveAspectRatio="none"></image>
                    </svg>
                    <div class="card-body">
                      <p class="card-text">Physiological behavior during stress anticipation across different chronic stress exposure adaptive models</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn">
                          <a href="https://www.tandfonline.com/doi/full/10.1080/10253890.2021.2006178" type="button" class="btn btn-sm btn-outline-secondary" target="_blank">Article</a>
                        </div>
                        <small class="text-body-secondary">The International Journal on the Biology of Stress</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c"></rect><image xlink:href="../static/images/injury.jpg" width="100%" height="100%" preserveAspectRatio="none"></image>
                    </svg>
                    <div class="card-body">
                      <p class="card-text">Injury incidence in female serbian elite volleyball players</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn">
                          <a href="http://www.sportmont.ucg.ac.me/?sekcija=abstract&artid=1494" type="button" class="btn btn-sm btn-outline-secondary" target="_blank">Article</a>
                        </div>
                        <small class="text-body-secondary">SportMont</small>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
    </section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">

</script>
</body>
</html>