{% extends "base.html" %}

{% block title %}
Stefan's Projects - AI Engineer & Researcher
{% endblock %}

{% block description %}
Explore the projects of Stefan, a published researcher and recognized AI Engineer. He is a PhD Candidate at University of Belgrade, specializing in Utilization of Artificial Intelligence in Biomedicine.
{% endblock %}

{% block keywords %}
Stefan, Projects, AI Engineer, Researcher, PhD Candidate, University of Belgrade, Artificial Intelligence, Biomedicine
{% endblock %}

{% block content %}

    
{% from "publication_card.html" import publication_card %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Publications</h1>
      </div>
    </div>
</section>

<section>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{ publication_card("../static/images/heart.jpg", "Defining the importance of stress reduction in managing cardiovascular disease - the role of exercise", "https://www.sciencedirect.com/science/article/abs/pii/S0033062022000159?via%3Dihub", "Progress in Cardiovascular Diseases") }}
            {{ publication_card("../static/images/covid.jpg", "Physical activity and exercise as an essential medical strategy for the COVID-19 pandemic and beyond", "https://journals.sagepub.com/doi/10.1177/15353702211028543", "Experimental Biology and Medicine") }}
            {{ publication_card("../static/images/a-msh.jpg", "The alpha-melanocyte stimulating hormone is related to heart rate during exercise recovery", "https://www.cell.com/heliyon/fulltext/S2405-8440(20)32223-4?_returnURL=https%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS2405844020322234%3Fshowall%3Dtrue", "Cell Press: Heliyon") }}
            {{ publication_card("../static/images/hormone.png", "Alpha-melanocyte-stimulating hormone during exercise recovery has prognostic value for coronary artery disease", "https://scholar.google.com/citations?view_op=view_citation&hl=en&user=HlXUn7wAAAAJ&citation_for_view=HlXUn7wAAAAJ:2osOgNQ5qMEC", "Hormones") }}
            {{ publication_card("../static/images/stress.jpg", "Physiological behavior during stress anticipation across different chronic stress exposure adaptive models", "https://www.tandfonline.com/doi/full/10.1080/10253890.2021.2006178", "The International Journal on the Biology of Stress") }}
            {{ publication_card("../static/images/injury.jpg", "Injury incidence in female serbian elite volleyball players", "http://www.sportmont.ucg.ac.me/?sekcija=abstract&artid=1494", "SportMont") }}
          </div>
        </div>
      </div>
</section>

{% endblock %}