.gradient-background {
    background: linear-gradient(300deg,#ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}



	.card {
    height: 100%; /* This will make all cards the same height */
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1; /* This will make the card body take up the remaining space in the card */
}

.card-text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to display before truncating */
    -webkit-box-orient: vertical;
}

.card-text {
    height: 50%;
    max-height: 50%;
}

.letter-spacing {
    letter-spacing: 0.0125em; /* Adjust as needed */
}

